.App {
    text-align: center;
}

.App > div {
    display: flex;
}

.overbook {
    flex: 1;
}

.data-row {
    display: flex;
    justify-content: space-between;
}

.sign-out-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 30px;
}

.login-form-container {
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pair-data {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-button-row-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hide-button-row-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.button-row {
    display: flex;
    justify-content: center;
}

.latest-trade-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.welcome-page-container {
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.overbook-container {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-left: 16px;
    padding-right: 16px;
    flex: 1;
}

.ant-input-suffix {
    display: none;
}
