.App {
    text-align: center;
}

.App > div {
    display: flex;
}

.overbook {
    flex: 1;
}

.overbook h3 + div {
    display: flex;
    justify-content: space-between;
}

.data-row {
    display: flex;
    justify-content: space-between;
}

.pair-data {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
}

.latest-trade-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overbook-container {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-left: 16px;
    padding-right: 16px;
    flex: 1;
}
